# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
.data/
config.yaml
config-*.yaml

docker-compose.override.yaml

.env
.idea
dummy.sql
.DS_STORE
*.zip
stayway-flutter-firebase-admin-sdk-key.json
