development:
  user_id: 10
database: "root:@tcp(mysql:3306)/stayway?charset=utf8&parseTime=True&loc=Local&clientFoundRows=true"
logger:
  json: false
  level: debug
stayway:
  base_url: "http://host.docker.internal:3000"
aws:
  region: ap-northeast-1
  endpoint: http://localstack:4572
  avatar_bucket: hoge
wordpress:
  base_url: "https://stayway.jp/tourism/"
  user: changeme
  password: changeme
  callback_key: changeme

# vim: set ft=yaml:
