on:
  push:
    branch-ignore:
      - 'master'
      - 'deploy/*'
    paths:
      - 'cmd/app/wire.go'
      - 'cmd/batch/wire.go'
      - 'pkg/domain/model/enum.go'
      - 'pkg/domain/model/serror/code.go'

name: make
jobs:
  gen:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: make generate & if diff push
        run: |
          make generate

          git config --global user.name github-actions
          git config --global user.email github-actions@stayway.jp

          export GIT_BRANCH="$(git symbolic-ref HEAD --short 2>/dev/null)"
          if [ "$GIT_BRANCH" = "" ] ; then
            GIT_BRANCH="$(git branch -a --contains HEAD | sed -n 2p | awk '{ printf $1 }')";
            export GIT_BRANCH=${GIT_BRANCH#remotes/origin/};
          fi

          git remote set-url origin https://stayway-corp:${{secrets.GITHUB_TOKEN}}@github.com/stayway-corp/stayway-media-api.git
          git checkout $GIT_BRANCH
          if [ $(git diff --exit-code --quiet; echo $?) -eq 1 ]; then
            git add .
            git reset go.mod go.sum
            if [ $(git diff --exit-code --quiet; echo $?) -eq 1 ]; then
              echo "nothing to commit"
              break
            fi
            git commit -m "add make generate"
            git push origin $GIT_BRANCH
          else
            echo "nothing to commit"
          fi

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-